
body {padding: 0;margin: 0;}
html, body {width: 100%; height: 100%;}
a {text-decoration: none;}

#container {width: 100%; position: relative; margin: auto;}
#coin-info {
    border: 1px solid #000;
    width: 70%; height: 150px;
    position: absolute;
    top: 30px;
    left: 1%;


}

#coin-chart{
    border: 1px solid #000;
    width: 70%; height: 800px;
    position: absolute;
    top: 230px;
    left: 1%;

}

#coin-list {
    border: 1px solid #000;
    width: 25%; height: 1000px;
    position: absolute;
    top: 30px;
    right: 1%;
}