/* 폰트 설정 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
* {
    font-family: 'Nanum Gothic', sans-serif;
}

/* 상향가나 하향가일 경우 적용할 스타일 정의 */
.highlight {
    animation-name: highlighting;
    animation-duration: .5s;
}

.up {
    color: red;
}

.up::before {
    content: "▲";
}

.down {
    color: blue;
}

.down::before {
    content: "▼";
}

/* 배경 하이라이팅 애니메이션 */
@keyframes highlighting {
    50% {
        background-color: rgba(0, 0, 255, 0.068);
    }

    100% {
        background-color: none;
    }
}